.hamburger{
    color:white;
    position: absolute;
    top:10px;
    left:10px;
    font-size: 29px;
    z-index:10;
}
.sidebar_{
    text-decoration: underline;
    padding-top:60px;
    min-height:100vh;
    position:absolute;
    top:0;
    width:250px;
    transform: translateX(-100%);
    transition: ease-in-out 500ms;
    background-color: #0277BD;
}
.sidebar_  .navbar-text:hover{
    /* background-color:white; */
    font-size:21px;
}
#sidebar_active{
    left:0;
    transform: translateX(0%);
}
.sidebar_ .navbar-text{
    text-decoration:none;
    transition: ease-in 100ms;
    box-sizing: content-box;
    padding: 8px 10px;
    color:white;
    border-bottom: 3px solid rgba(0, 0, 255, 0.13);
    text-decoration: none;
    font-size: 20px;
}